<!DOCTYPE html>
<html>
<head>
  <title>Mynameis Kris</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class ="nav">
    <ul class="shell">
      <li class = "logo"><a href="#">Xuncheng Zhang</a></li>
      <li class = "li-left"><a href="#">Gallary</a></li>
      <li class = "li-left"><a href="#">Diary</a></li>
      <li class = "li-left"><%= link_to 'Gossip', gossip_index_path%></li>
      <li class = "li-left"><%= link_to 'Comment', comment_index_path%></li>
      <li class = "li-right"><a href="#">Resume</a></li>
      <li class = "li-right"><a href="#">About me</a></li>
    </ul>
    
  </div>

<div class = "blank"> 
</div>

<%= yield %>
<!--<footer class="footer">-->
<!--  <div class = "footer1">-->
<!--    <div class="row">-->
<!--      <div class="col-md-4">-->
<!--        <div class = "about">-->
<!--          <h2><strong>About Xuncheng</strong></h2>-->
<!--          <p>A Great Artist. Deep Dark Fantacy</p>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-3">-->
<!--        <div class = "about">-->
<!--          <h2><strong>Follow Him</strong></h2>-->
<!--          <div class = "social">-->
<!--            <ul>-->
<!--              <li>-->
<!--                <a href = https://www.facebook.com/profile.php?id=100008473097667&fref=ts>-->
<!--                  <img id = "facebook" src = http://www.edwardfrenkel.com/wp-content/uploads/2014/12/link-facebook-secondary_hover-14x16.png alt="facebook homepage">-->
<!--                </a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-5">-->
<!--        <div class = "about">-->
<!--          <h2><strong>Contact</strong></h2>-->
<!--          <form class="form-inline">-->
<!--            <div class="form-group">-->
<!--              <label for="exampleInputName2">Name</label>-->
<!--              <input type="text" class="form-control" id="exampleInputName2">-->
<!--            </div>-->
<!--            <div class="form-group">-->
<!--              <label for="exampleInputEmail2">Email</label>-->
<!--              <input type="email" class="form-control" id="exampleInputEmail2">-->
<!--            </div>-->
<!--            <div class= "message">-->
<!--              <div>-->
<!--                <label for="exampleMessage">Message</label>-->
<!--              </div>-->
<!--              <textarea class="form-control" rows="5" cols = "56"></textarea>-->
<!--              <div>-->
<!--                <button class="btn btn-default" type="submit">Submit</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </form>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class = "footer2">@2016 Xuncheng Zhang -- Website by Lee & Zhang</div>-->
<!--</footer>-->

</body>
</html>
